.GRID {
  --grid: 10px;
  position: fixed;
  inset: 0;
  background-image: linear-gradient(hsla(0, 0%, 0%, 0.05) var(--grid), hsla(0, 0%, 0%, 0) var(--grid));
  background-size: 100% calc(var(--grid) * 2);
  pointer-events: none;
}
