/**
 * Each size should divide by 4.
 */

:root {
	/* Font family */
	--font-family: 'FONT NAME', sans-serif;
	--font-family-display: serif;
	--font-family-heading: serif;

	/* Font size */
	--font-size-display-large: calc(96rem / 16);
	--font-size-display-medium: calc(52rem / 16);
	--font-size-display-small: calc(52rem / 16);
	--font-size-display-xsmall: calc(36rem / 16);

	--font-size-heading-xxlarge: calc(40rem / 16);
	--font-size-heading-xlarge: calc(36rem / 16);
	--font-size-heading-large: calc(32rem / 16);
	--font-size-heading-medium: calc(28rem / 16);
	--font-size-heading-small: calc(24rem / 16);
	--font-size-heading-xsmall: calc(20rem / 16);

	--font-size-label-large: calc(18rem / 16);
	--font-size-label-medium: calc(16rem / 16);
	--font-size-label-small: calc(14rem / 16);
	--font-size-label-xsmall: calc(12rem / 16);

	--font-size-paragraphs-large: calc(18rem / 16);
	--font-size-paragraphs-medium: calc(16rem / 16);
	--font-size-paragraphs-small: calc(14rem / 16);
	--font-size-paragraphs-xsmall: calc(12rem / 16);

	--font-size: var(--font-size-paragraphs-medium);

	/* Line height */
	--line-height-display-large: calc(112rem / 16);
	--line-height-display-medium: calc(64rem / 16);
	--line-height-display-small: calc(52rem / 16);
	--line-height-display-xsmall: calc(44rem / 16);

	--line-height-heading-xxlarge: calc(52rem / 16);
	--line-height-heading-xlarge: calc(44rem / 16);
	--line-height-heading-large: calc(40rem / 16);
	--line-height-heading-medium: calc(36rem / 16);
	--line-height-heading-small: calc(32rem / 16);
	--line-height-heading-xsmall: calc(28rem / 16);

	--line-height-label-large: calc(24rem / 16);
	--line-height-label-medium: calc(20rem / 16);
	--line-height-label-small: calc(16rem / 16);
	--line-height-label-xsmall: calc(16rem / 16);

	--line-height-paragraphs-large: calc(18rem / 16);
	--line-height-paragraphs-medium: calc(16rem / 16);
	--line-height-paragraphs-small: calc(14rem / 16);
	--line-height-paragraphs-xsmall: calc(12rem / 16);

	--line-height: var(--line-height-paragraphs-medium);

	/* Font */
	--font-display-large: 700 var(--font-size-display-large)/var(--line-height-display-large) var(--font-family-display);
	--font-display-medium: 700 var(--font-size-display-medium)/var(--line-height-display-medium) var(--font-family-display);
	--font-display-small: 700 var(--font-size-display-small)/var(--line-height-display-small) var(--font-family-display);
	--font-display-xsmall: 700 var(--font-size-display-xsmall)/var(--line-height-display-xsmall) var(--font-family-display);

	--font-heading-xxlarge: 700 var(--font-size-heading-xxlarge)/var(--line-height-heading-xxlarge) var(--font-family-heading);
	--font-heading-xlarge: 700 var(--font-size-heading-xlarge)/var(--line-height-heading-xlarge) var(--font-family-heading);
	--font-heading-large: 700 var(--font-size-heading-large)/var(--line-height-heading-large) var(--font-family-heading);
	--font-heading-medium: 700 var(--font-size-heading-medium)/var(--line-height-heading-medium) var(--font-family-heading);
	--font-heading-small: 700 var(--font-size-heading-small)/var(--line-height-heading-small) var(--font-family-heading);
	--font-heading-xsmall: 700 var(--font-size-heading-xsmall)/var(--line-height-heading-xsmall) var(--font-family-heading);

	--font-label-large: 400 var(--font-size-label-large)/var(--line-height-label-large) var(--font-family);
	--font-label-medium: 400 var(--font-size-label-medium)/var(--line-height-label-medium) var(--font-family);
	--font-label-small: 400 var(--font-size-label-small)/var(--line-height-label-small) var(--font-family);
	--font-label-xsmall: 400 var(--font-size-label-xsmall)/var(--line-height-label-xsmall) var(--font-family);

	--font-paragraphs-large: 400 var(--font-size-paragraphs-large)/var(--line-height-paragraphs-large) var(--font-family);
	--font-paragraphs-medium: 400 var(--font-size-paragraphs-medium)/var(--line-height-paragraphs-medium) var(--font-family);
	--font-paragraphs-small: 400 var(--font-size-paragraphs-small)/var(--line-height-paragraphs-small) var(--font-family);
	--font-paragraphs-xsmall: 400 var(--font-size-paragraphs-xsmall)/var(--line-height-paragraphs-xsmall) var(--font-family);

	--font: var(--font-paragraphs-medium);

	/* Letter spacing */
	--leter-spacing-display: -0.003em;

	/* Other */
	--hyphenate-limit: 7;
}
