/**
 * This class produces a block which is exactly as big as the
 * text content inside.
 * The whitespace above and below the text content is removed
 * by margin-block-[start|end].
 * `--font-size` and `--line-height` variables must be present.
 *
 * inspired by moma.org
 */

:root {
  --typo-cap-height: 0.705; // relative to leading
  --typo-shoulder: calc(1 - var(--typo-cap-height));
  --typo-whitespace-top: 0.17;
  --typo-whitespace-bottom: calc(var(--typo-shoulder) - var(--typo-whitespace-top));
}

.a-typo {
  --typo-leading-remainder: calc((var(--line-height) - 1) / 2);
  --typo-leading-top: calc(var(--typo-whitespace-top) + var(--typo-leading-remainder));
  --typo-leading-bottom: calc(var(--typo-whitespace-bottom) + var(--typo-leading-remainder));
  --typo-margin-top: calc(-1 * var(--typo-leading-top) * var(--font-size));
  --typo-margin-bottom: calc(-1 * var(--typo-leading-bottom) * var(--font-size));

  display: flow-root;

  &::before,
  &::after {
    content: '';
    display: block;
    visibility: hidden;
  }

  &::before {
    margin-block-start: var(--typo-margin-top);
  }

  &::after {
    margin-block-end: var(--typo-margin-bottom);
  }
}
